<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> hello sree</h1>
    <ul>
      <% for(var i=0; i<dataArray.length;i++){  %>
        <li> <%=dataArray[i] %> </li>
      <% } %>
    </ul>
  </body>
</html>
